body {
    background-image: url(shutterstock_1556534186.webp);
    color: white;
    text-align: justify;
    background-size: 150%;
    background-repeat: repeat-y;
}

main {
    margin: 70px 100px;
    padding: 20px;
    background-color: rgba(124, 122, 122, 0.788);
}

main a {
    color: lightblue;
}

main a:hover {
    color: navy;
}

main a:visited {
    color: darkslateblue;
}

main a:visited:hover {
    color: rgb(90, 83, 131);
}

.active {
    color: white;
    font-weight: bold;
    text-decoration: underline 2px solid white;
}

.card {
    color: white;
}

html {
    scroll-behavior: smooth;
  }

  .btn {
    background-color: darkblue;
  }