body {
    background-image: url(shutterstock_1556534186.webp);
    color: white;
    text-align: justify;
}

section {
    margin: 70px 100px;
    padding: 20px;
    background-color: rgb(124, 122, 122);
}